<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header style="text-align: center;">
        <h1>Departamento de trânsito </h1>
        <nav>
            <a href="/">Home</a>
            <a href="/veiculos/cadastro">Cadastrar Veiculos</a>
            <a href="/veiculos/todos">Ver Veiculos</a>
        </nav>
    </header>
    <hr/>
    <main>
        {{{body}}}
    </main>
      <hr/>
    <footer style="text-align: center;">Nenhum Direito Reservado.</footer>
</body>
</html>